* {
    margin: 0;
    padding: 0;
    border: none;
}

@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    background-image: url("images/dark-wood.jpg");

}

header {
    background-image: url("images/header-page.jpg");
    height: 130px;
    text-align: right;
    font-size: 20px;
}

nav ul{
    list-style: none;
    background-image: url("images/header-page.jpg");
    margin-top: 2px;
    margin-bottom: 4px;
}

nav ul li {
    display: inline;
}

header, nav, main {
    width: 60%;
    margin: 0 auto;
}

main {

    background-color: #ffffff;
}

.courses {
    width: 60%;

}

aside {
    width: 27%;
}

.courses, aside {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

article {
    margin: 0 auto 50px auto;
}

aside ul{
    list-style: none;
}

figure, div {
    display: inline-block;
    vertical-align: top;
}

figure {
    float: left;
}

p {
    width: 40%;
    display: inline-block;
    margin: 10px;
    color: rgb(94,99,103);
}

h2 {
    margin: 0 auto 5px 10px;
    color: rgb(94,99,103);
}

h3 {
    margin: 0 auto 5px 10px;
    color: rgb(221,198,138);
}

article:after {
    content: '';
    display: block;
    clear: both;
}


footer{
    padding: 10px;
    color: #333333;
    background-color: rgb(174,172,168);

}
